.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
    &_left {
        display: flex;
        flex-direction: column;
    }
    &_right {
        border-radius: 50%;
        display: grid;
        place-content: center;
        overflow: hidden;
        img {
            border-radius: 50%;
        }
    }
    @media screen and (max-width: 1060px) {
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        min-height: 870px;
        &_left {
            width: 100%;
            align-items: center;
        }
        &_right {
            width: fit-content;
        }
    }
    @media screen and (max-width: 300px) {
        &_right img {
            width: calc(90vw - 50px) !important;
            height: calc(90vw - 50px) !important;
        }
    }
}
