.loader {
  position: absolute;
  z-index: 99999;
  background-color: var(--black-100-8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease-in-out 300ms, 300ms visibility ease-in-out 0s;
  &.close {
    visibility: hidden;
    opacity: 0;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: var(--black-800);
    animation: loader-process-svg 2s linear infinite;
  }
}
@keyframes loader-process-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}