.left {
  width: 45%;
  padding: 0 40px 0 0;
  p {
    font-size: 1.3rem;
    margin: 0 0 50px 0;
  }
  @media screen and (max-width: 890px) {
    width: 100%;
    padding: 0 20px;
    p {
      text-align: center;
    }
  }
}
