@import "../../styles/utilities";

.aside {
    width: 150px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden; // Because of staggering
    &_vr {
        margin-top: 20px;
        background-color: var(--white-100);
        height: 100px;
        width: 1.5px;
    }
    a {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg {
        width: 20px;
        height: 20px;
        fill: var(--white-100);
        cursor: pointer;
        transition: fill ease-out 100ms, transform ease-out 100ms;
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                fill: var(--aqua-100);
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: $responsive-nav) {
        display: none;
    }
}
