.skills {
  margin-top: 100px;
}
.quotes {
  width: 100%;
  display: flex;
  q {
    text-align: center;
  }
}
.mountains {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  margin-top: 80px;
  @media screen and (max-width: 890px) {
    height: 900px;
  }
}