.quotes {
  &::before, &::after {
    content: "";
  }
  font-size: 3rem;
  font-weight: bold;
  color: var(--black-900);
  span {
    font-size: 1.3rem;
    font-weight: normal;
  }
  a {
    color: var(--black-900);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--white-200);
      }
    }
  }
  svg {
    fill: var(--black-900);
    width: 50px;
    height: 50px;
    &:nth-child(1) {
      margin: 0 13px 0 0;
      transform: translateY(-10px);
    }
    &:nth-child(2) {
      margin: 0 0 0 13px;
      transform: translateY(10px);
    }
  }
  @media screen and (max-width: 890px) {
    display: block;
    text-align: center;
  }
}