.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    position: relative;
    h2,
    div {
        position: relative;
        transition: left ease-out 400ms, opacity ease-out 400ms, font-size ease-out 400ms;
        left: 0;
        opacity: 1;
    }
    div {
        width: 6px;
        height: 36px;
        background-color: var(--aqua-100);
        margin-right: 19px;
    }
    h2 {
        font-size: 2.25rem;
        margin: 0;
        color: var(--white-100);
    }
    &.not {
        h2,
        div {
            left: -100%;
            opacity: 0;
        }
    }
}
