@import "../experience.module.scss";

.gallery {
    width: $width-gallery;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    &_ours {
        width: calc(100% - $width-info);
        transition: 250ms opacity ease-out 500ms;
    }
    &_main {
        width: calc(100%);
        aspect-ratio: 464 / 300;
        border-radius: 5px;
        overflow: hidden;
        display: grid;
        place-content: center;
    }
    &_text {
        margin: 15px 0 9px 0;
        font-size: 0.875rem;
    }
    &_mini {
        display: grid;
        grid-template-columns: repeat(auto-fit, 20%);
        justify-content: space-between;
        justify-items: center;
        gap: 20px;
        &_img {
            aspect-ratio: 464 / 300;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            display: grid;
            place-content: center;
        }
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: column;
        &_ours {
            width: 100%;
        }
    }
    @media screen and (max-width: 480px) {
        &_mini {
            grid-template-columns: repeat(auto-fit, 25%);
            gap: 40px;
        }
    }
    @media screen and (max-width: 370px) {
        &_mini {
            grid-template-columns: repeat(auto-fit, 40%);
            gap: 40px;
        }
    }
}

.gallery {
    &_main,
    &_mini_img {
        cursor: pointer;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            background-color: var(--aqua-100-55);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity ease-out 200ms;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover::after {
                opacity: 1;
            }
        }
    }
}
.not {
    opacity: 0;
}
