.body {
  flex: 1 1 0%;
  max-height: 400px;

  display: flex;
  align-items: center;

  &_left {
    justify-content: flex-end;
    &_mobile {
      display: none !important;
    }
    &_icons {
      display: flex;
      gap: 18px;
      align-items: center;
      a {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &_center {
    z-index: 1;
    height: 100%;
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_right {
    justify-content: flex-start;
    align-items: flex-end;
    div {
      text-align: right;
    }
  }
}
.block {
  height: 50%;
  width: 250px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  overflow: visible;
  font-size: 1.2rem;
  &_text {
    display: block;
    width: fit-content;
  }
  &_dash {
    height: 0;
    width: 50vw;
    max-width: 750px;
    background-color: transparent;
    border-bottom: 1.5px dashed var(--black);
  }
}

@media screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
    gap: 30px;
    max-height: none;
    &_center {
      height: 520px;
    }
    &_left {
      width: 100%;
      &_pc {
        display: none !important;
      }
      &_mobile {
        display: flex !important;
      }
    }
    &_right {
      width: 100%;
    }
  }
  .block {
    font-size: 1rem;
    &_dash {
      width: 80vw;
      max-width: 290px;
    }
  }
}
