.years {
  width: 185px;
  svg {
    fill: var(--aqua-100);
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 5px;
  }
  b {
    font-size: 6rem;
    color: var(--aqua-100);
    display: flex;
    align-items: center;
  }
  p {
    text-align: left;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
  }
  @media screen and (max-width: 890px) {
    display: flex;
    width: fit-content;
    margin-bottom: 30px;
    svg {
      margin-right: 30px;
    }
  }
}