.right {
  width: 55%;
  font-size: 1.2rem;
  b {
    color: var(--aqua-100);
  }
  a {
    text-decoration: underline;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--white-200);
      }
    }
  }
  @media screen and (max-width: 890px) {
    margin: 30px 0 0 0;
    width: 100%;
    padding: 0 20px;
  }
}
.img {
  object-fit: contain;
  filter: brightness(0) invert(1);
  &_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 890px) {
    &_container {
      justify-content: center;
    }
  }
}
.em {
  font-size: 1rem;
  color: var(--aqua-100);
  display: block;
  width: fit-content;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    top: calc(50% - 1px);
    height: 2px;
    background-color: var(--aqua-100);
  }
  &_left {
    &::after {
      right: -55px;
    }
  }
  &_right {
    margin-left: auto;
    &::after {
      left: -55px;
    }
  }
}
