.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 38px;
    width: fit-content;
    transition: width ease-out 300ms;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        width: 288.56px;
        &_each {
            min-width: 288.56px !important;
        }
    }
    @media screen and (max-width: 340px) {
        width: 243.84px;
        &_each {
            min-width: 243.84px !important;
        }
    }
    @media screen and (max-width: 300px) {
        max-width: calc(90vw - 50px);
        &_each {
            min-width: calc(90vw - 50px) !important;
        }
    }
}
