.path {
  width: 100vw;
  margin: 0 auto;
  max-width: 1100px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;

  &_image {
    position: absolute;
    height: 100%;

    right: 0px;
    z-index: 0;
    padding-right: 150px;
  }
}
.row {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform ease-out 300ms;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-20px) scale(1.05);
    }
  }
}
.display {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: fit-content;
  position: absolute;
  z-index: 1;
  &_img {
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_text {
    width: 100%;
    border: 1px solid var(--black);
    height: 27px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
  }
}
.title {
  position: relative;
  height: 66px;
  display: flex;
  justify-content: center;
  z-index: 1;
  &_wrapper {
    position: absolute;
  }
  &_stick {
    width: 10px;
    height: 100%;
    background-color: var(--lavender-light);
    border: 1.28px solid var(--black);
  }
  &_sign {
    width: fit-content;
    background-color: var(--lavender-light);
    border: 1.28px solid var(--black);
    position: absolute;
    top: 5px;
    z-index: 1;
    height: 31px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
  }
}
.car {
  width: fit-content;
  position: absolute;
  z-index: 1;
}
.paragraph {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  z-index: 1;
}

@media screen and (max-width: 1325px) {
  .path {
    position: absolute;
    width: 100vw;
    max-width: 1100px;
    left: calc((100vw - 1100px) / 2);
  }
}

@media screen and (max-width: 1100px) {
  .path {
    display: none;
  }
}
