.path {
  width: 100%;
  z-index: 0;
  background-color: purple;
  display: flex;
  flex-direction: column;
}
.row {
  background-color: gold;
  width: 100%;
  position: relative;
}
.display {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: fit-content;
  &_img {
    border: 3px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_text {
    width: 100%;
    border: 1px solid var(--black);
    height: 27px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.title {
  position: relative;
  height: 66px;
  display: flex;
  justify-content: center;
  &_stick {
    width: 10px;
    height: 100%;
    background-color: var(--lavender-light);
    border: 1.28px solid var(--black);
  }
  &_sign {
    width: fit-content;
    background-color: var(--lavender-light);
    border: 1.28px solid var(--black);
    position: absolute;
    top: 5px;
    z-index: 1;
    height: 31px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
  }
}
.car {
  width: fit-content;
}
.paragraph {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
