.present {
  width: calc(100% - 500px);
  &_title {
    font-size: 3.5em;
    font-weight: bold;
  }
  &_subtitle {
    margin-top: 25px;
  }
  &_me {
    margin-top: 50px;
    display: flex;
    background-color: var(--black-500);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 20px;
    width: fit-content;
    transition: background-color ease-out 300ms;
    &_img {
      img {
        border-radius: 50%;
      }
    }
    &_text {
      &_aqua {
        color: var(--aqua-100);
      }
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--black-600);
      }
    }
  }
  @media screen and (max-width: 1330px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 1255px) {
    flex-direction: column;
    &_title {
      text-align: center;
    }
    &_subtitle {
      text-align: center;
    }
    &_me {
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 700px) {
    &_title {
      font-size: 9vw;
    }
    &_me {
      font-size: 2.5vw;
      &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
