.section {
  padding-bottom: 140px;
  height: 2220px;
  z-index: 0;
  transition: opacity ease-out 600ms;
}
@media screen and (max-width: 1100px) {
  .section {
    height: calc(4000px - (1200px - 50vw));
  }
}
@media screen and (max-width: 700px) {
  .section {
    height: calc(4000px - 1200px);
  }
}

// Animations
.notVisible {
  opacity: 0;
  visibility: hidden;
}