.h1 {
    margin: 0;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: font-size ease-out 300ms;
    span {
        display: inline-block;
        cursor: default;
    }
    @media screen and (max-width: 480px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 340px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 300px) {
        font-size: 12vw;
    }
}
