$width-btns: 200px;
$width-info: 200px;
$width-gallery-less-width: 50px;
$width-gallery: calc(100% - $width-btns);

.experience {
    // margin-bottom: 100px; // Alwaaaaays
    margin-bottom: 1000px; // Alwaaaaays
    &_data {
        margin-top: 44px;
        display: flex;
        position: relative;
        align-items: flex-start;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: stretch;
        }
    }
}
