.type {
    transition: max-width ease-out 300ms, margin-top ease-out 300ms;
    &_word {
        font-size: 1.2rem;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: bold;
        &_line {
            margin: 0 0 0 2px;
            width: 2.5px;
            height: 1.2rem;
            background-color: var(--white-100);
            &.isNoWriting {
                animation: anima_line_typing 500ms ease-out infinite alternate;
            }
        }
    }
    @media screen and (max-width: 480px) {
        max-width: 288.56px;
        margin-top: 20px;
    }
    @media screen and (max-width: 340px) {
        max-width: 243.84px;
    }
    @media screen and (max-width: 300px) {
        max-width: calc(90vw - 50px);
    }
}
@keyframes anima_line_typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
