.const {
    color: var(--code-const);
}
.comment {
    color: var(--black-900);
}
.create {
    color: var(--code-object-name);
}
.equal {
    color: var(--code-equal);
}
.new {
    color: var(--code-new);
}
.person {
    color: var(--code-prototype);
}
.parenthesis {
    color: var(--code-parenthesis);
}
.string {
    color: var(--code-string);
    &_quote {
        color: var(--code-string-quotes);
    }
}
.semicolon {
    color: var(--white-200);
}