.cta {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .cta {
    justify-content: center;
    button {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .cta button {
    width: 100%;
    justify-content: center;
  }
}
