.msgs {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  z-index: 99999;
  display: flex;
  &_info {
    background-color: var(--info-100);
  }
  &_warning {
    background-color: var(--warning-100);
  }
  &_success {
    background-color: var(--success-100);
  }
  &_svg {
    &_container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 40px;
      svg {
        margin-top: 13px;
        width: 20px;
        height: 20px;
      }
    }
    &_info {
      fill: var(--info-200);
    }
    &_warning {
      fill: var(--warning-200);
    }
    &_success {
      fill: var(--success-200);
    }
  }
  &_body {
    display: block;
    width: 250px;
    h5 {
      font-size: 1.2rem;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      margin-bottom: 15px;
      word-break: break-all;
    }
    &_info {
      color: var(--info-200);
    }
    &_warning {
      color: var(--warning-200);
    }
    &_success {
      color: var(--success-200);
    }
  }
  &_btn {
    width: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    button {
      margin-top: 13px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &_info {
      fill: var(--info-200);
    }
    &_warning {
      fill: var(--warning-200);
    }
    &_success {
      fill: var(--success-200);
    }
  }
  @media screen and (max-width: 400px) {
    width: calc(100vw - 40px);
    left: 20px;    
  }
}
