.link,
.link_responsive {
  position: relative;
  cursor: pointer;
  font-family: "Fira Code";
  color: var(--white-200);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    @media screen and (max-width: 890px) {
      width: 10vw;
      height: 10vw;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: var(--aqua-100);
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 10px;
      width: 12.5px;
      height: 12.5px;
      fill: var(--white-200);
    }
    @media screen and (max-width: 890px) {
      svg {
        width: 6vw;
        height: 6vw;
      }
    }
  }
}
.link {
  margin: 0 30px 0 0;
  font-size: 0.82rem;
  &:nth-child(5) {
    margin: 0 60px 0 0;
  }
  span {
    svg {
      width: 15px;
      height: 15px;
    }
    margin: 0 10px 0 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transition: width ease-in-out 300ms, left ease-in-out 300ms;
    z-index: 1;
    background-color: var(--aqua-100);
  }
  &_responsive {
    margin: 0;
    font-size: 7vw;
    span {
      svg {
        width: 7vw;
        height: 7vw;
      }
      margin: 0 5vw 0 0;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
  @media screen and (max-width: 890px) {
    display: none;
    &_responsive {
      display: flex;
    }
  }
}
