.title {
  font-size: 4rem;
  margin: 0;
  &_wrapper {
    display: flex;
    gap: 4px;
    flex-direction: column;
    transition: opacity ease-out 1200ms, transform ease-out 1200ms;
  }
  &_underline {
    width: 78px;
    height: 5px;
    background-color: var(--black);
  }
}
@media screen and (max-width: 350px) {
  .title {
    font-size: 3rem;
  }
}

// Animations
.notTitle {
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
}
