.btn {
  cursor: pointer;
  position: relative;
  transition: background-color ease-out 500ms, color ease-out 500ms;
  z-index: 0;
  color: var(--white-100);
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    transition: opacity ease-out 500ms;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--aqua-100);
    background: linear-gradient(90deg, var(--aqua-100) 0%, var(--blue-100) 100%);
  }
}

.gradient {
  background-color: transparent;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--white-100);
      color: var(--black-100);
      &::after {
        opacity: 0;
      }
    }
  }
}

.blank {
  background: var(--white-100);
  color: var(--black-100);
  &::after {
    opacity: 0;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: transparent;
      color: var(--white-100);
      &::after {
        opacity: 1;
      }
    }
  }
}
