.responsive {
  display: none;
  height: 35px;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: relative;
  z-index: 2; // Greater
  &_line,
  &_line_x {
    width: 45px;
    height: 4px;
    background-color: var(--white-100);
    transition: height ease-out 300ms,
                transform ease-out 300ms,
                opacity ease-out 300ms;
  }
  &_line_x {
    height: 5px;
    &:nth-child(1){
      transform: translateY(15.5px) rotateZ(225deg);
    }
    &:nth-child(2){
      opacity: 0;
    }
    &:nth-child(3){
      transform: translateY(-15.5px) rotateZ(-225deg);
    }
  }
  &_container {
    background-color: var(--black-300);
    width: 100%;
    position: fixed;
    z-index: 1; // Lower
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 0;
    transition: clip-path ease-in-out 500ms, 500ms visibility ease-in-out 0s;
    clip-path: circle(0 at 50% 50%);
    padding: 20px 0 0 0;
    visibility: hidden;
    &.open {
      clip-path: circle(100% at 50% 50%);
      visibility: visible;
    }
  }
  @media screen and (max-width: 890px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
