@import "../../styles/utilities";

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 30px;
    height: 100px;
    background-color: var(--black-300-9);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &_links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: clip-path ease-out 300ms, 300ms visibility ease-out 0ms;
    }
    &_hamburger {
        display: none;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        &_1,
        &_2,
        &_3 {
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background-color: var(--white-100);
            transition: transform ease-out 300ms, opacity ease-out 300ms;
        }
        &.open {
            .nav_hamburger {
                &_1 {
                    transform: translateY(13.5px) rotateZ(225deg);
                }
                &_2 {
                    opacity: 0;
                }
                &_3 {
                    transform: translateY(-13.5px) rotateZ(-225deg);
                }
            }
        }
    }
    @media screen and (max-width: $responsive-nav) {
        &_links {
            &.open {
                clip-path: circle(100% at 50% 50%);
                visibility: visible;
            }
            opacity: 1;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--black-300);
            flex-direction: column;
            justify-content: space-around;
            padding: 50px 0;
            clip-path: circle(0 at 50% 50%);
            visibility: hidden;
        }

        &_hamburger {
            display: flex;
        }
    }
}
