.nav {
  z-index: 2;
  background-color: var(--black-300-9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: top ease-out 300ms;
  &.close {
    top: -100px;
  }
}
