* {
  box-sizing: border-box;
}

:root {
  --black-100: rgb(0, 0, 0);
  --black-200: rgb(20, 20, 20);
  --black-300: rgb(29, 29, 29);
  --black-400: rgb(32, 32, 32);
  --black-500: rgb(36, 36, 36);
  --black-600: rgb(54, 54, 54);
  --black-700: rgba(60, 60, 60);
  --black-800: rgba(80, 80, 80);
  --black-900: rgb(131, 130, 130);

  --black-300-9: rgb(29, 29, 29, 0.9);

  --aqua-100: rgb(67, 247, 213);
  --aqua-100-55: rgba(67, 247, 213, 0.55);
  --blue-100: rgb(58, 54, 242);

  --white-100: rgb(255, 255, 255);
  --white-200: rgb(221, 221, 221);

  --brown-100: #d7a25c;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black-600);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--black-800);
    }
    &:active {
      background-color: var(--black-700);
    }
  }
}
::-webkit-scrollbar-track-piece {
  background-color: var(--black-300);
}
::selection {
  background-color: var(--aqua-100);
  color: var(--black-300);
}
html {
  min-height: 100%;
  width: 100vw;
  position: relative;
}
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--black-300);
  color: var(--white-100);
}
input,
button {
  outline: none;
  border-style: none;
}
a {
  text-decoration: none;
  color: var(--white-100);
}

.notAppearing_transitions {
  transition: opacity ease-out 500ms, transform ease-out 500ms;
}
.notAppear_bottomToTop {
  opacity: 0;
  transform: translateY(50px);
}
.notAppear_topToBottom {
  opacity: 0;
  transform: translateY(-50px);
}
.notAppear_scale {
  opacity: 0;
  transform: scale(0.8);
}
.notAppear_leftToRight {
  opacity: 0;
  transform: translateX(-50px);
}
.notAppear_rightToLeft {
  opacity: 0;
  transform: translateX(50px);
}
.notAppear_opacity {
  opacity: 0;
}
.notAppear_mountains {
  section {
    top: 100% !important;
  }
}

// Components
@import "./layout";
