.about {
  &_h2 {
    font-size: 3rem;
    position: relative;
    margin-top: 0;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 3px;
      background-color: var(--black-600);
      top: calc(50% - 1.5px);
      right: -320px;
      z-index: 1;
    }
  }
  @media screen and (max-width: 890px) {
   &_h2 {
     padding: 0 15px;
     display: block;
     text-align: center;
     &::after {
      display: none;
     }
   }   
  }
}
.info {
  display: flex;
  @media screen and (max-width: 890px) {
    flex-direction: column;
  }
}