@import "../experience.module.scss";
@import "../../animations/Layout/layout.module.scss";

.diffetentP {
    background-color: var(--black-100);
    padding: 20px;
    width: 450px;
}

.info {
    width: $width-info;
    z-index: 1;
    h3 {
        margin: 0;
        text-align: right;
        font-size: 1.75rem;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        width: $width-info;
        p {
            border-radius: 5px;
            margin: 0;
            text-align: right;
        }
    }
    ul {
        list-style: none;
        li {
            text-align: right;
            line-height: 1.6rem;
            svg {
                margin-left: 10px;
            }
        }
    }
    span {
        width: $width-info;
        display: flex;
        justify-content: flex-end;

        a {
            width: fit-content;
            color: var(--white-100);
            text-decoration: none;
            background-color: var(--black-500);
            border-radius: 5px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            svg {
                width: 13px;
                height: 13px;
                fill: var(--aqua-100);
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background-color: var(--black-600);
                }
            }
        }
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
        div {
            position: static;
            width: 100%;
        }
        h3 {
            margin-top: 30px;
        }
        p {
            width: 420px !important;
        }
        ul {
            max-width: 450px;
            width: 100%;
        }
        li {
            svg {
                margin: 0 10px;
            }
        }
        span {
            width: 100%;
            max-width: 450px;
        }
    }
    @media screen and (max-width: 480px) {
        p {
            margin: 0 auto !important;
            width: fit-content !important;
            max-width: 450px;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
        div {
            align-items: center;
        }
    }
}
